# Coursera Capstone final Assignment: Clustering New York for opening organic grocery stores

## Introduction and Data (Assignment 1/2)

## Content

* [Introduction](#intro)
* [Data](#data)

## Introduction <a id="intro"></a>

In the previous labs we examined how the neighborhoods of citys could be segmented by the types of business locations 
in each neigborhood. In this project, I am interested to explore New York again. The aim of my project is to examine 
NY Boroughs for opening organic grocery stores.

### Business problem / Background

In the last years, the consumers interest and market for organic products, stores and restaurants is continuously growing. 
For this Project I work for a organic grocery franchise. The franchises aim is to open new stores in metropol regions like New York. But of course, other retailers realized the potential of this market as well. So in New York, like in almost every city, the density of organic grocery stores is rising and the earnings are increasingly shared by many providers. The Business Problem is to find out which Borough of New York is best fitting for opening new organic based grocery stores.

To answer the question which areas show the best market potentials for opening this stores I consider the following variables:

* Population Data of the five Boroughs of New York
* Land area sizes of the five Boroughs of New York
* Average per Capita income of the five Boroughs of New York
* Number of existing organic based grocery stores in the five Boroughs of New York

Other variables, like rentals or leases were not taken into account to answer the question but will be discussed in the Discussion/Conclusion section.

## Data <a id="data"></a>

In the following lines I will provide information about the Data I use for my analyzes and from where I got these information. Also I will give an overview how the Data will be cleaned up and prepared to drive the analyzes.

In [2]:
#Import packages
import pandas as pd
import numpy as np
import json
#from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Data 1: NY Population data

In this first step I gather population data of New York by the five Boroughs (Bronx, Brooklyn, Manhattan, Queens, Staten Island). 

The Dataset is downloaded from http://app.coredata.nyc as .csv and uploaded to github reposity.

This Dataframe includes Population Data from 2000 to 2018 for the five Boroughs of New York.

In [4]:
# get data for Population
# Downloaded file for NY Population by Boroughs from http://app.coredata.nyc and uploaded csv to github
url = 'https://raw.githubusercontent.com/gicnor/Coursera_Capstone/master/borough-population.csv'
df_pop = pd.read_csv(url)
df_pop.head()

,short_name,long_name,Borough,2000,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,pop_num,Population,Staten Island,443728,455344,477377,481613,487407,491730,469363,470467,470728,472621,473279,474558,476015,479458,476179
1,pop_num,Population,Manhattan,1529375,1529774,1611580,1620870,1634800,1629050,1586700,1601950,1619090,1626160,1636270,1644520,1643730,1664730,1628700
2,pop_num,Population,Bronx,1327690,1309640,1361470,1373660,1391900,1397290,1386660,1392000,1408470,1418730,1438160,1455440,1455720,1471160,1432130
3,pop_num,Population,Brooklyn,2465326,2446016,2508820,2528050,2556600,2567100,2508340,2532640,2565640,2592150,2621790,2636740,2629150,2648770,2582830
4,pop_num,Population,Queens,2242159,2215339,2255180,2270340,2293010,2306710,2233840,2247850,2272770,2296180,2321580,2339150,2333050,2358580,2278910

### Data 2: Borough area size

In this step, the NY area per Borough is beeing scraped from Wikipedia: https://en.wikipedia.org/wiki/Boroughs_of_New_York_City

For my analyzes only the column of sqaurekm is relevant.

In [5]:
# get data for Land area from Wikipedia
url = "https://en.wikipedia.org/wiki/Boroughs_of_New_York_City"
df_area = pd.read_html(url, header=2, decimal='.')[0]
df_area.head()

,Borough,County,Estimate (2018)[3],billions(US$)[4],per capita(US$),square miles,squarekm,persons / sq. mi,persons /km2
0,The Bronx,Bronx,1432132,42.695,29200,42.10,109.04,34653,13231
1,Brooklyn,Kings,2582830,91.559,34600,70.82,183.42,37137,14649
2,Manhattan,New York,1628701,600.244,360600,22.83,59.13,72033,27826
3,Queens,Queens,2278906,93.310,39600,108.53,281.09,21460,8354
4,Staten Island,Richmond,476179,14.514,30300,58.37,151.18,8112,3132

### Data 3: NY mean household income data

In this section data will be downloaded from https://www.census.gov and uploaded to github reposity.

The internet source includes many information about New York population, income, edeucation and so on. For my purpose I will just read the rows with the average per capita income for the five Borough.

In [6]:
# get income data from https://www.census.gov
url = "https://raw.githubusercontent.com/gicnor/Coursera_Capstone/master/QuickFacts%20Feb-16-2020.csv"
df_inc_mean = pd.read_csv(url)
df_inc_mean.head()

,Fact,Fact Note,"New York County (Manhattan Borough), New York","Value Note for New York County (Manhattan Borough), New York","Bronx County (Bronx Borough), New York","Value Note for Bronx County (Bronx Borough), New York","Queens County (Queens Borough), New York","Value Note for Queens County (Queens Borough), New York","Kings County (Brooklyn Borough), New York","Value Note for Kings County (Brooklyn Borough), New York","Richmond County (Staten Island Borough), New York","Value Note for Richmond County (Staten Island Borough), New York","New York city, New York","Value Note for New York city, New York"
0,"Population estimates, July 1, 2019, (V2019)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Population estimates, July 1, 2018, (V2018)",NaN,"1,628,701",NaN,"1,432,132",NaN,"2,278,906",NaN,"2,582,830",NaN,"476,179",NaN,"8,398,748",NaN
2,"Population estimates base, April 1, 2010, (V2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Population estimates base, April 1, 2010, (V2...",NaN,"1,586,360",NaN,"1,384,603",NaN,"2,230,578",NaN,"2,504,717",NaN,"468,730",NaN,"8,174,988",NaN
4,"Population, percent change - April 1, 2010 (es...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Choose relevant Data from DataFrame
df_cap_income = df_inc_mean.iloc[[48],[0, 2, 4, 6, 8, 10]]

# Rename columns
df_cap_income.rename(columns={"New York County (Manhattan Borough), New York":"Manhattan",
                             "Bronx County (Bronx Borough), New York": "Bronx",
                             "Queens County (Queens Borough), New York": "Queens",
                             "Kings County (Brooklyn Borough), New York": "Brooklyn",
                             "Richmond County (Staten Island Borough), New York": "Staten Island",
                             "Fact":"Borough"}, inplace=True)

# Drop "$" from values
df_cap_income['Manhattan'] = df_cap_income['Manhattan'].str.replace(r'\$', '')
df_cap_income['Bronx'] = df_cap_income['Bronx'].str.replace(r'\$', '')
df_cap_income['Queens'] = df_cap_income['Queens'].str.replace(r'\$', '')
df_cap_income['Brooklyn'] = df_cap_income['Brooklyn'].str.replace(r'\$', '')
df_cap_income['Staten Island'] = df_cap_income['Staten Island'].str.replace(r'\$', '')

# Drop "," from values
df_cap_income['Manhattan'] = df_cap_income['Manhattan'].str.replace(r'\,', '')
df_cap_income['Bronx'] = df_cap_income['Bronx'].str.replace(r'\,', '')
df_cap_income['Queens'] = df_cap_income['Queens'].str.replace(r'\,', '')
df_cap_income['Brooklyn'] = df_cap_income['Brooklyn'].str.replace(r'\,', '')
df_cap_income['Staten Island'] = df_cap_income['Staten Island'].str.replace(r'\,', '')

df_cap_income

,Borough,Manhattan,Bronx,Queens,Brooklyn,Staten Island
48,Per capita income in past 12 months (in 2018 d...,72832,20850,30289,31984,34987

### Data 4: Get venues per Borough from Foursquare

Here I will use Foursquare to get information about existing organic grocery stores in the Boroughs of New York. In the first step I gather information where the current stores are located. In a second step I will use the API the check, how many other organic grocery stores are located within 500 meters to each of the stores.

#### Get organic Stores from Foursquare in each Borough

In [8]:
# Credentials
CLIENT_ID = 'EOMLONZWTQLDDO0F1XWZR0ZDXTD2TRP03SPOGXWJW4Y5XYNZ'
CLIENT_SECRET = 'JPSN4HLGS5CMRDJEXTTTBEYZLQM4WVO1A4QMH3CRYYNZZ4K1'
VERSION = '20200101'

In [9]:
# Get organic tagged grocery stores Data from Foursqaure

limit=200
categoryId="52f2ab2ebcbc57f1066b8b45" # for organic tagged grocery stores

def getNearbyVenues(names, near):
    
    venues_list=[]
    for name, near in zip(names, near):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&near={}&categoryId={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            near,
            categoryId,
            limit)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name,
            near, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Borough',
                             'near',
                  'Venue', 
                  'Venue_Lat', 
                  'Venue_Long', 
                  'Venue Category']
    
    return(nearby_venues)

In [10]:
# Create DataFrame with organic tagged grocery stores per Borough
NY_organic = getNearbyVenues(names=df_pop['Borough'],
                            near=df_pop['Borough']
                            )

Staten Island
Manhattan
Bronx
Brooklyn
Queens

In [11]:
NY_organic.head()

,Borough,near,Venue,Venue_Lat,Venue_Long,Venue Category
0,Staten Island,Staten Island,Whole Foods Market,40.631498,-74.304228,Grocery Store
1,Staten Island,Staten Island,Park Slope Food Coop,40.674759,-73.976794,Organic Grocery
2,Staten Island,Staten Island,Flatbush Food Coop,40.641196,-73.964675,Organic Grocery
3,Staten Island,Staten Island,Windsor Terrace Food Coop,40.648175,-73.972311,Organic Grocery
4,Staten Island,Staten Island,Dimes Deli,40.714592,-73.990817,Organic Grocery

In [12]:
# Define ID-variable
NY_organic["ID"] = NY_organic["Venue_Lat"].astype("str")+", "+NY_organic["Venue_Long"].astype("str")
NY_organic.head()

,Borough,near,Venue,Venue_Lat,Venue_Long,Venue Category,ID
0,Staten Island,Staten Island,Whole Foods Market,40.631498,-74.304228,Grocery Store,"40.63149784984362, -74.30422764207012"
1,Staten Island,Staten Island,Park Slope Food Coop,40.674759,-73.976794,Organic Grocery,"40.674759316149355, -73.97679448127747"
2,Staten Island,Staten Island,Flatbush Food Coop,40.641196,-73.964675,Organic Grocery,"40.641195603869555, -73.9646754529375"
3,Staten Island,Staten Island,Windsor Terrace Food Coop,40.648175,-73.972311,Organic Grocery,"40.648175, -73.972311"
4,Staten Island,Staten Island,Dimes Deli,40.714592,-73.990817,Organic Grocery,"40.71459195873029, -73.99081729031317"

#### Get the number of organic stores around 500 meters for each existing store

In [13]:
# Get stores nearby

limit=100
rad=500 #radius
categoryId="52f2ab2ebcbc57f1066b8b45" # for organic tagged grocery stores

def getNearbyVenues2(names, latitudes, longitudes):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&categoryId={}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng,
            categoryId,
            rad, 
            limit)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues2 = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues2.columns = ['ID', 
                  'Venue_Lat', 
                  'Venue_Long', 
                  'Venue', 
                  'Nearby_Lat', 
                  'Nearby_Long', 
                  'Venue Category']
    
    return(nearby_venues2)

In [14]:
# Create DataFrame with nearby 500m stores
NY_organic_near = getNearbyVenues2 (names=NY_organic['ID'],
                                    latitudes=NY_organic['Venue_Lat'],
                                    longitudes=NY_organic['Venue_Long']
                                   )

40.63149784984362, -74.30422764207012
40.674759316149355, -73.97679448127747
40.641195603869555, -73.9646754529375
40.648175, -73.972311
40.71459195873029, -73.99081729031317
40.67610148438513, -73.97178424263382
40.618206, -73.960417
40.74005477916467, -74.16991365014131
40.715579155420606, -74.01136823958119
40.68633674088106, -73.97846730744199
40.539920434275395, -74.36608766086388
40.7170552041893, -74.28654430825806
40.727163233177905, -73.9853185415268
40.64909203083852, -73.94924301932052
40.63796187989747, -74.0756767988205
40.732009055896384, -74.00657296964181
40.723792913183296, -73.99146099967388
40.66487493558445, -73.99328059965966
40.72880655741807, -73.98628403433696
40.75686356881963, -73.9937370791919
40.73504451480305, -73.99110084279937
40.71626934343042, -73.9597792074956
40.75979, -74.02488
40.678194994151234, -74.26854550388957
40.62992, -74.028291
40.745057497004666, -73.99554284770052
40.71583338158002, -73.95570533511494
40.75450746689136, -73.98429874954766
40.73710379690735, -73.95542997650914
40.37514933006295, -74.08783226196186
40.76801497132407, -73.98172253878273
40.73380695718071, -73.95491561381318
40.759709268743435, -73.96616626565199
40.76151245329708, -73.92448886417486
40.80426058867242, -74.24866478560105
40.656077538470775, -74.00710870249338
40.62982805635658, -73.9617794752121
40.79410991232108, -73.96663311005508
40.81851806413375, -74.22296583745927
40.35206316833705, -74.30946394396454
40.72558509400714, -73.87897540791332
40.705998417951925, -74.003057332035
40.75355391514896, -74.40566946074597
40.6218247, -73.93607949999999
40.653894, -73.949752
40.693374, -73.981342
40.663651, -73.95150100000001
40.8247057079905, -73.97382812137316
40.80778099697608, -73.9459228655522
40.68172257957213, -73.95839673212772
40.737545, -74.03153
40.676529042708644, -73.94762620929325
40.68196, -73.949761
40.71901385921288, -73.98770570755005
40.691975, -73.943023
40.749256451690435, -74.02491331100464
40.69234873871358, -73.94271852623373
40.708603, -73.958298
40.688187, -73.966394
40.72645, -73.97734
40.651317999999996, -73.93068199999999
40.796307444112884, -73.97061660197768
40.719626, -73.994971
40.683116, -73.922974
40.696137, -73.933637
40.5763087596166, -74.56239305085418
40.724608148972, -73.9995288848877
40.686478, -73.923504
40.69104, -73.955269
40.640073, -74.382967
40.683349, -73.911088
40.74444457181185, -73.97807121276855
40.752857, -73.987838
40.91431692837788, -74.05785160955287
40.711087, -73.950482
40.696273, -73.933472
40.74106304252619, -73.98590326309204
40.786128000000005, -74.20825
40.728621, -73.953423
40.71942332338567, -73.83956761858302
40.75658739656873, -73.99002313613892
40.7781735, -73.9841361
40.754840071771085, -73.97839844226837
40.760391, -73.940285
40.760449, -73.978065
40.6838703253971, -74.44231263677892
40.71077, -73.852135
40.77366428738554, -73.913918871018
40.470255, -74.459882
40.79707206425941, -73.9502210115638
40.721563, -73.839668
40.8071102, -73.94307429999998
40.773799, -73.914041
40.770267, -73.907089
40.852359, -74.001814
40.29740822120145, -74.25553335819278
40.75686356881963, -73.9937370791919
40.76801497132407, -73.98172253878273
40.75450746689136, -73.98429874954766
40.79410991232108, -73.96663311005508
40.72880655741807, -73.98628403433696
40.73504451480305, -73.99110084279937
40.759709268743435, -73.96616626565199
40.745057497004666, -73.99554284770052
40.80778099697608, -73.9459228655522
40.7650276, -73.98444049999999
40.74465908454508, -73.99905729833164
40.796307444112884, -73.97061660197768
40.76802836725529, -73.95593309596553
40.73843535170521, -73.99984388621071
40.73386040747461, -73.99937542582418
40.727163233177905, -73.9853185415268
40.74249894494305, -73.97748905715908
40.778527288067295, -73.98198682234093
40.80621716812029, -73.94181434324825
40.806067140423096, -73.9543523359782
40.73351486923294, -73.98772179803069
40.77810020045408, -73.94854329947945
40.732009055896384, -74.00657296964181
40.733056091052994, -73.99357128089437
40.723792913183296, -73.99146099967388
40.71459195873029, -73.99081729031317
40.79707206425941, -73.9502210115638
40.760391, -73.940285
40.74444457181185, -73.97807121276855
40.77366428738554, -73.913918871018
40.7781735, -73.9841361
40.8071102, -73.94307429999998
40.752857, -73.987838
40.76318135172623, -73.9893542876064
40.75658739656873, -73.99002313613892
40.728621, -73.953423
40.770267, -73.907089
40.754840071771085, -73.97839844226837
40.74106304252619, -73.98590326309204
40.760449, -73.978065
40.773799, -73.914041
40.715579155420606, -74.01136823958119
40.78059818225064, -73.98127634657473
40.76181080975905, -73.98641078199923
40.72558509400714, -73.87897540791332
40.67610148438513, -73.97178424263382
40.72645, -73.97734
40.72912575843297, -74.00247650916474
40.71901385921288, -73.98770570755005
40.724608148972, -73.9995288848877
40.708603, -73.958298
40.719626, -73.994971
40.705998417951925, -74.003057332035
40.711087, -73.950482
40.849008, -73.911662
40.693374, -73.981342
40.68172257957213, -73.95839673212772
40.686478, -73.923504
40.68196, -73.949761
40.68229826298082, -73.99597145323372
40.69104, -73.955269
40.683349, -73.911088
40.62992, -74.028291
40.70736416175162, -74.01684926791411
40.80778099697608, -73.9459228655522
40.8247057079905, -73.97382812137316
40.849008, -73.911662
40.76151245329708, -73.92448886417486
40.79410991232108, -73.96663311005508
40.76226495693353, -73.82795663220128
40.96144258609537, -73.85650720768109
40.76801497132407, -73.98172253878273
40.759709268743435, -73.96616626565199
40.75686356881963, -73.9937370791919
40.796307444112884, -73.97061660197768
40.75450746689136, -73.98429874954766
40.73710379690735, -73.95542997650914
40.974784537141055, -73.80299398230942
40.8071102, -73.94307429999998
40.72558509400714, -73.87897540791332
40.970626995482256, -73.95634707897197
40.727163233177905, -73.9853185415268
40.73380695718071, -73.95491561381318
40.79707206425941, -73.9502210115638
40.77366428738554, -73.913918871018
40.745057497004666, -73.99554284770052
40.92171586894081, -73.76400573540123
40.908231, -73.781991
40.71459195873029, -73.99081729031317
40.73504451480305, -73.99110084279937
40.72880655741807, -73.98628403433696
40.75979, -74.02488
40.71626934343042, -73.9597792074956
40.71583338158002, -73.95570533511494
40.732009055896384, -74.00657296964181
40.91431692837788, -74.05785160955287
40.723792913183296, -73.99146099967388
40.773799, -73.914041
40.770267, -73.907089
40.79749518693169, -73.67063688320194
40.852359, -74.001814
40.715579155420606, -74.01136823958119
40.760391, -73.940285
40.674759316149355, -73.97679448127747
40.71942332338567, -73.83956761858302
40.7781735, -73.9841361
40.68633674088106, -73.97846730744199
40.67610148438513, -73.97178424263382
40.99251077909493, -73.67535230042093
41.02866770247504, -73.75837343217466
40.721563, -73.839668
40.752857, -73.987838
40.980634328124964, -73.68393770322088
40.74444457181185, -73.97807121276855
40.760449, -73.978065
40.64909203083852, -73.94924301932052
40.71077, -73.852135
40.754840071771085, -73.97839844226837
40.641195603869555, -73.9646754529375
41.07784620254062, -73.85787772534108
40.648175, -73.972311
40.75658739656873, -73.99002313613892
40.85066814583982, -73.69115356283552
40.72645, -73.97734
40.978417587813986, -74.12259307781991
40.728621, -73.953423
41.0029779594714, -73.85698556900024
40.74106304252619, -73.98590326309204
40.749256451690435, -74.02491331100464
40.708603, -73.958298
40.71901385921288, -73.98770570755005
40.696137, -73.933637
41.00571840887727, -73.79906524927748
40.66487493558445, -73.99328059965966
40.711087, -73.950482
40.69234873871358, -73.94271852623373
40.737545, -74.03153
40.691975, -73.943023
41.01241, -73.80648
40.686478, -73.923504
40.683349, -73.911088
40.683116, -73.922974
40.69054725662401, -73.77356886863708
40.724608148972, -73.9995288848877
40.696273, -73.933472
40.705998417951925, -74.003057332035
40.719626, -73.994971
40.693374, -73.981342
40.68196, -73.949761
40.68172257957213, -73.95839673212772
40.676529042708644, -73.94762620929325
40.69104, -73.955269
40.688187, -73.966394
40.663651, -73.95150100000001
40.653894, -73.949752
40.993012, -74.032564
40.651317999999996, -73.93068199999999

40.656077538470775, -74.00710870249338
40.674759316149355, -73.97679448127747
40.73710379690735, -73.95542997650914
40.67610148438513, -73.97178424263382
40.73380695718071, -73.95491561381318
40.71626934343042, -73.9597792074956
40.68633674088106, -73.97846730744199
40.641195603869555, -73.9646754529375
40.71583338158002, -73.95570533511494
40.64909203083852, -73.94924301932052
40.648175, -73.972311
40.618206, -73.960417
40.66487493558445, -73.99328059965966
40.69338, -73.991341
40.67448104350491, -74.01686632905893
40.688481, -73.985304
40.67712835140533, -73.972470238526
40.716547989595064, -73.94641710014035
40.68034473331551, -73.94928040872702
40.683349, -73.911088
40.686478, -73.923504
40.693374, -73.981342
40.683116, -73.922974
40.676529042708644, -73.94762620929325
40.653894, -73.949752
40.68172257957213, -73.95839673212772
40.62982805635658, -73.9617794752121
40.696137, -73.933637
40.708603, -73.958298
40.69234873871358, -73.94271852623373
40.6218247, -73.93607949999999
40.691975, -73.943023
40.68196, -73.949761
40.663651, -73.95150100000001
40.689506713265665, -73.96991810279246
40.7194124, -73.96293039999999
40.71558, -73.95995
40.711305634472936, -73.96815831492174
40.711087, -73.950482
40.62992, -74.028291
40.728621, -73.953423
40.69104, -73.955269
40.696273, -73.933472
40.688187, -73.966394
40.656077538470775, -74.00710870249338
40.651317999999996, -73.93068199999999
40.64167118261627, -73.9632217280528
40.685227036114576, -73.95428553157515
40.69279577274037, -73.98626573289205
40.71372169398378, -73.95142874508032
40.70252642385502, -73.98951443298033
40.68058328929679, -73.99476444056779
40.706256225849984, -73.92261385917664
40.76151245329708, -73.92448886417486
40.72558509400714, -73.87897540791332
40.76226495693353, -73.82795663220128
40.71942332338567, -73.83956761858302
40.760391, -73.940285
40.69054725662401, -73.77356886863708
40.77366428738554, -73.913918871018
40.71077, -73.852135
40.721563, -73.839668
40.69270631991561, -73.90514869702419
40.770267, -73.907089
40.773799, -73.914041
40.76985614579503, -73.9170119137407

In [16]:
print("The shape of this DataFrame is:",NY_organic_near.shape)

The shape of this DataFrame is: (547, 7)